body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

body::-webkit-scrollbar-thumb:active {
  background: #555;
}

body::-webkit-scrollbar-track {
  background: #141414;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  transition: background 0.1s linear, transform 0.03s linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
